@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('gotham-bold/stylesheet.css');

body,
html {
	/* width: 100vw; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
}

main {
	flex: 1;
	width: 100%;
}


p {
	font-family: 'IBM Plex Sans';
}

.svg-inverted {
	-webkit-filter: invert(100%);
	/* safari 6.0 - 9.0 */
	filter: invert(100%);
}

#spacing {
	height: 50px;
	background-color: rgba(164, 166, 168, 0.1);
}

#contactUs {
	position: absolute;
	z-index: 10;
	left: calc(100vw - 200px);
	height: 50px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 115px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	padding: 10px;
	background-color: rgb(107, 217, 222);

}

#contactanos-tab {
	border-radius: 5px;
	background-color: rgb(107, 217, 222);
	font-weight: 700;
	color: white !important;
}

/* TOP NAVBAR */
#top-navbar {
	background-color: white;
}

#top-navbar .navbar-brand {
	font-family: 'Montserrat', sans-serif;
	color: black;
}

#top-navbar #admin-text {
	font-family: 'Montserrat', sans-serif;
}

#top-navbar .nav-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
	padding: 6px;
	text-align: center;
	/* white-space: nowrap; */
	color: rgba(0, 0, 0, 0.5)
}

@media(min-width:1200px) {

	#top-navbar #navbarNav {
		margin-top: 30px;
	}

	#top-navbar .navbar-nav {
		margin-left: calc(50vw - 595px);
	}
}

#top-navbar .nav-link:hover {
	color: rgba(0, 0, 0, 0.8)
}

#especialidadesDropdown {
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}
#especialidadesDropdown:hover{
	cursor: pointer;
}

#top-navbar .dropdown-menu {
	font-family: 'Montserrat', sans-serif;
	font-weight: light;
	border-radius: 15px;
}

/* CAROUSEL */
#carouselJumbotron {
	background-color: rgba(107, 217, 222, 0.5);
}

#carouselJumbotron .carousel-item {
	height: 80vh;
	background-size: cover;
}

#carouselJumbotron .filter {
	height: 100%;
	width: 100%;
	background-color: rgba(107, 217, 222, 0.5);
	display: grid;
	place-items: center;
	text-align: center;
}

#carouselJumbotron .filter h1 {
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}



#carouselJumbotron #item1 {
	background-image: url("/img/fachada-1.jpg");
	background-size: cover;
	background-position: center center;
}

#carouselJumbotron #item2 {
	background-image: url("/img/fachada-2.jpg");
	background-size: cover;
	background-position: center center;
}

#carouselJumbotron #item3 {
	background-image: url("/img/fachada-3.jpg");
	background-size: cover;
	background-position: center center;

}

h1,
h2,
h3,
h4 {
	font-family: "Montserrat", sans-serif;
}

#conozcanos {
	background-image: url("/img/edificio-plaza.jpg");
	background-size: cover;
	color: white;
	border-radius: 15px;
}

/* 
#inicioMapa{
	/* display: grid;
	place-items: center;
} */

#conozcanos iframe {
	border-radius: 15px;
	width: 100%;
}

#conozcanos h2 {
	font-weight: bold;

}

#conozcanos p {
	font-size: 20px;
}

#serviciosMedicos {
	background-image: url("/img/estetoscopio.jpg");
	background-size: cover;
}

#serviciosMedicos img {
	width: 100%;
	height: 100px;
	object-fit: scale-down;
}

#serviciosMedicos h4 {
	margin: auto;
}

#serviciosPracticos{
	color: #999;
}

.sidebar-sticky {
	height: 100%;
	background-color: #2d3e4d;
}

.sidebar-sticky .nav-item a {
	padding: 10px 30px;
}

.sidebar-sticky a {
	color: rgba(255, 255, 255, 0.8);
	width: 100%;
}

.sidebar-sticky #sidebar-logo {
	text-align: center;
	margin-bottom: 10px;
	padding: 20px;
}

.sidebar-sticky #sidebar-logo img {
	width: 60%;
	margin-bottom: 10px;
}

.sidebar-sticky #sidebar-logo h4 {
	color: white;
}

.sidebar-sticky li:not(#sidebar-logo):hover {
	background-color: #2c3a4a;
}

.sidebar-sticky li a:hover {
	color: rgba(255, 255, 255, 1);
}

.sidebar-sticky li:not(#sidebar-logo) img {
	height: 1.5em;
	width: 1.5em;
	object-fit: scale-down;
	margin: 0 5px;
}