
#doctorInfo .col-sm-4 img{
	width: 100%;
	border-radius: 15px;
}
#doctorInfo .doctor-title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	
}
#lista-seguros img{
	width: 150px;
	height: 150px;
	object-fit: scale-down;
}

#lista-seguros ul{
	list-style: none;
	padding:0;
}
#lista-seguros li{
	margin: 10px;
}