#localInfo img{
	width: 100%;
	height: 300px;
	object-fit: scale-down;
	border-radius: 15px;
}
#localInfo .local-title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	
}